    <style>
        label{
            font-weight: bold;
        }
        p{
            margin-top: 5px;
        }
    </style>
<body>
    <ul class="nav justify-content-center navbar navbar-dark bg-primary ">
        <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/register">New Student</a>
        </li>
    </ul>